@import "types/type";
@import "pokedex/pokedex";
@import "augmentations.css";

.container {
  margin-top: 5em;
  margin-bottom: 3em;
}

.input-group-addon.minimal {
  background: none;
  border: none;
}

.form-control + label {
  margin-top: 1em;
}
