@import "../types/type";

.row .pokemon-card {
  // the space between columns is 30px
  // so let's make it the same space between the rows
  margin-bottom: 30px;
}

.team-search-results {
  .btn.pull-left {
    // the button needs to align a little better
    margin-top: 3px;
  }
  .btn.pull-left+[pokemon-pill] {
    // we want the button to be the left of the pill
    margin-left: 3em;
  }
}

[pokemon-pill] {
  padding: 0.5em;
  position: relative;
  border: 2px solid lightgrey;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  .label { border-top-left-radius: 1em; }

  .type-label {
    font-size: 0.6em;
    position: absolute;
    right: 1.5em;
  }
  .type-label { top: 0.25em; }
  .type-label+.type-label { top: 2.25em; }


  &.colorful {
    a { color: white; }
    .text-muted { color: #ccc; }
    .for(@typelist); .-each(@name1) {
      &.@{name1} { .type-badge-2(@name1, @name1); } // do the style for when there is only 1 type
      .for(@typelist); .-each(@name2) {
        &.@{name1}-@{name2} { .type-badge-2(@name1, @name2); }
      }
    }
  }
}

.pokemon-card {
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 1em;
  padding: 1em;

  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }

  .remove-button {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  &.colorful {
    a { color: white; }
    .text-muted { color: #ccc; }
    .for(@typelist); .-each(@name1) {
      &.@{name1} { .type-badge-2(@name1, @name1); } // do the style for when there is only 1 type
      .for(@typelist); .-each(@name2) {
        &.@{name1}-@{name2} { .type-badge-2(@name1, @name2); }
      }
    }
  }
}

.pki {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;

  // 32x32 is the default position for when we don't have a matching pkmn class
  // basically, it shows a blank square
  // we should edit the stylesheet so there is a 404 icon
  background: 32px 32px url("images/pokemon_sprite_sheet.png");
}
