<div loading="loading">
    <section>
        <header><h1>Your Team</h1></header>

        <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="mon in team">
            <div class="pokemon-card {{colorfulCards?'colorful':''}} {{mon.typeStyle}}">
                <header><h2>
                    <span class="label label-default" ng-bind="mon.number | padNumber: 3"></span>
                    <i class="pki {{mon.iconClass}}"></i>
                    <span ng-bind="mon.name"></span>
                    <small ng-bind="mon.specialname"></small>
                    <small><i bulbapedia="mon"></i></small>
                </h2></header>
                <p><span ng-repeat="type in mon.types" class="type-label type-{{type}}" ng-bind="type"></span></p>
                <button class="btn btn-sm btn-default remove-button" ng-click="removeFromTeam(mon)"><i class="fa fa-heart-o"></i></button>
            </div>
        </div>
        </div>

        <p ng-if="team.length === 0">... is empty.</p>
    </section>

    <section>
        <header><h1>Add to your team</h1></header>
        <p>
            Use the <i class="fa fa-heart"></i> to add individual Pokémon to your team.
            Use <span class="label label-default">Enter</span> to add all the matching Pokémon to your team.
            Use <span class="label label-default">Esc</span> to remove all the matching Pokémon from your team.
        </p>

        <form>
            <label for="filter">Filter</label>
            <input class="form-control" id="filter" name="filter" ng-model="nested.filter" />
        </form>

        <br>

        <div class="row team-search-results" ng-if="showList()">
            <p class="col-sm-6 col-md-4" ng-repeat="mon in nested.filteredDex=(dex | dexGen | filterAll: nested.filter | orderBy: '-number')">
                <button class="pull-left btn btn-sm btn-default" ng-click="addToTeam(mon)" ng-disabled="isInTeam(mon)">
                    <i class="fa" ng-class="isInTeam(mon)?'fa-heartbeat':'fa-heart'"></i>
                </button>
                <i pokemon-pill="mon"></i>
            </p>
        </div>
    </section>
</div>