@normal_primary: #a8a878;
@normal_light: #c6c6a7;
@normal_dark: #6D6D4E;
@fire_primary: #f08030;
@fire_light: #F5AC78;
@fire_dark: #9C531F;
@water_primary: #6890f0;
@water_light: #9DB7F5;
@water_dark: #445E9C;
@electric_primary: #f8d030;
@electric_light: #FAE078;
@electric_dark: #A1871F;
@grass_primary: #78c850;
@grass_light: #a7db8d;
@grass_dark: #4E8234;
@ice_primary: #98d8d8;
@ice_light: #BCE6E6;
@ice_dark: #638D8D;
@fighting_primary: #c03028;
@fighting_light: #D67873;
@fighting_dark: #7D1F1A;
@poison_primary: #a040a0;
@poison_light: #C183C1;
@poison_dark: #682A68;
@ground_primary: #e0c068;
@ground_light: #EBD69D;
@ground_dark: #927D44;
@flying_primary: #a890f0;
@flying_light: #C6B7F5;
@flying_dark: #6D5E9C;
@psychic_primary: #f85888;
@psychic_light: #FA92B2;
@psychic_dark: #A13959;
@bug_primary: #a8b820;
@bug_light: #C6D16E;
@bug_dark: #6D7815;
@rock_primary: #b8a038;
@rock_light: #D1C17D;
@rock_dark: #786824;
@ghost_primary: #705898;
@ghost_light: #A292BC;
@ghost_dark: #493963;
@dragon_primary: #7038f8;
@dragon_light: #A27DFA;
@dragon_dark: #4924A1;
@dark_primary: #705848;
@dark_light: #A29288;
@dark_dark: #49392F;
@steel_primary: #b8b8d0;
@steel_light: #D1D1E0;
@steel_dark: #787887;
@fairy_primary: #EE99AC;
@fairy_light: #F4BDC9;
@fairy_dark: #9B6470;

.type-badge(@typestr) {
  @type_primary: "@{typestr}_primary";
  @type_light: "@{typestr}_light";
  @type_dark: "@{typestr}_dark";

  border: 1px solid @@type_dark;
  background: linear-gradient(@@type_light, @@type_primary, @@type_primary);
  color: white;

  //&:hover {
  //  background: @@type_light;
  //}
}

.type-badge-2(@typestr1, @typestr2) {
  @type1_primary: "@{typestr1}_primary";
  @type1_light: "@{typestr1}_light";
  @type1_dark: "@{typestr1}_dark";
  @type2_primary: "@{typestr2}_primary";
  @type2_light: "@{typestr2}_light";
  @type2_dark: "@{typestr2}_dark";

  border: 2px solid;
  border-color: @@type1_dark @@type2_dark @@type2_dark @@type1_dark;

  background: linear-gradient(90deg, @@type1_primary, @@type1_primary, @@type2_primary, @@type2_primary);
  color: white;
}