<h1>Weakness</h1>
<table class="type-chart inline table-hover">
    <thead><tr>
        <th><span class="label rate rate-50">2x</span> Damage From</th>
        <th></th>
        <th></th>
        <th></th>
        <th><span class="label rate rate-200">2x</span> Damage To</th>
    </tr></thead>
    <tbody><tr ng-repeat="center in typeList">
        <td><span ng-repeat="left in typeList" class="type-label type-{{left}}" ng-bind="left" data-ng-if="typeChart[left][center] > 1"></span></td>
        <td><i class="fa fa-fw fa-long-arrow-right"></i></td>
        <td><span class="type-label type-{{center}}" ng-bind="center"></span></td>
        <td><i class="fa fa-fw fa-long-arrow-right"></i></td>
        <td><span ng-repeat="right in typeList" class="type-label type-{{right}}" ng-bind="right" data-ng-if="typeChart[center][right] > 1"></span></td>
    </tr></tbody>
</table>

<h1>Resistance</h1>
<table class="type-chart inline table-hover">
    <thead><tr>
        <th><span class="label rate rate-200">less</span> Damage From</th>
        <th></th>
        <th></th>
        <th></th>
        <th><span class="label rate rate-50">less</span> Damage To</th>
    </tr></thead>
    <tbody><tr ng-repeat="center in typeList">
        <td><span ng-repeat="left in typeList" class="type-label type-{{left}}" ng-bind="left" data-ng-if="typeChart[left][center] < 1"></span></td>
        <td><i class="fa fa-fw fa-long-arrow-right"></i></td>
        <td><span class="type-label type-{{center}}" ng-bind="center"></span></td>
        <td><i class="fa fa-fw fa-long-arrow-right"></i></td>
        <td><span ng-repeat="right in typeList" class="type-label type-{{right}}" ng-bind="right" data-ng-if="typeChart[center][right] < 1"></span></td>
    </tr></tbody>
</table>
