<table class="type-chart matrix table-hover">
    <thead><tr>
        <th></th>
        <th ng-repeat="def in typeList" class="type-{{def}}" ng-bind="text[def].title" title="{{text[def].name}}"></th>
    </tr></thead>
    <tbody><tr ng-repeat="atk in typeList">
        <th class="type-{{atk}}" ng-bind="text[atk].title" title="{{text[atk].name}}"></th>
        <td ng-repeat="def in typeList"
            class="rate {{typeChart[atk][def] | rateStyle}}"
            title="{{text[atk].name}} -> {{text[def].name}}"
            ng-bind="typeChart[atk][def] | rateDisplay"></td>
    </tr></tbody>
</table>