@import "colors";
@import "../for";

@typelist: normal, fire, water, electric, grass, ice, fighting, poison, ground, flying, psychic, bug, rock, ghost, dragon, dark, steel, fairy;
@rate0: #333;
@rate25: sienna;
@rate50: indianred;
@rate200: mediumseagreen;
@rate400: seagreen;

.rate { color: lightgoldenrodyellow; }
.rate.rate-0 { background-color: @rate0; }
.rate.rate-25 { background-color: @rate25; }
.rate.rate-50 { background-color: @rate50; }
.rate.rate-200 { background-color: @rate200; }
.rate.rate-400 { background-color: @rate400; }

span {
  &.type-label {
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.4em;
    width: 6em;
    height: 1.5em;
    text-align: center;
    border-radius: 1em;
  }
  &.type-label+.type-label {
    margin-left: 2px;
  }

  .for(@typelist); .-each(@name) {
    &.type-label.type-@{name} { .type-badge(@name); }
  }
}

.type-chart.matrix {
  td, th {
    width: 3em;
    height: 3em;
    text-align: center;
    vertical-align: middle;
  }

  /* foreach (th.type-normal, th.type-fire, ...) build a type-badge for the th  */
  .for(@typelist); .-each(@name) {
    th.type-@{name} { .type-badge(@name); }
  }

  tbody td {
    border: 1px solid #eee;
  }
}

.type-chart.inline {
  width: 100%;
  td, th { width: 0; }
  td:first-child,th:first-child { width: 50%; text-align: right; }
  td:last-child,th:last-child { width: 50%; text-align: left; }
}

.row [type-square] {
  // the space between columns is 30px
  // so let's make it the same space between the rows
  margin-bottom: 30px;
}

[type-square] {
  @line-height: 1.2em;
  @dmg-opacity: 60%;

  position: relative;
  font-size: 1em;
  line-height: @line-height;
  height: 10.25 * @line-height;

  header { margin-bottom: 0.3em; }

  &>.type-label {
    transform: rotate(270deg);
    position: absolute;
    font-size: 2.05em;
    top: 2.25em;
    left: -2.25em;
  }

  /* wrapper around the damage sections so they can be more easily sized */
  .dmg-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 3.5em;
  }

  .dmg-to-200, .dmg-to-50, .dmg-from-50, .dmg-from-200{
    border-radius: 1em;
    padding: 0.25em;
    width: 49%;
    height: 5 * @line-height;
    position: absolute;
    text-align: center;
  }

  .dmg-to-200   { top: 0;  left: 0;  }
  .dmg-to-50    { bottom: 0; left: 0;  }
  .dmg-from-50  { top: 0;  right: 0; }
  .dmg-from-200 { bottom: 0; right: 0; }

  // good colors
  .dmg-to-200, .dmg-from-50 {
    border: 1px solid @rate400;
    background: repeating-linear-gradient(150deg, fade(@rate200, @dmg-opacity), fade(@rate400, @dmg-opacity) 5%, fade(@rate200, @dmg-opacity) 8%);
  }

  // bad colors
  .dmg-to-50, .dmg-from-200 {
    border: 1px solid @rate25;
    background: repeating-linear-gradient(150deg, fade(@rate50, @dmg-opacity), fade(@rate25, @dmg-opacity) 5%, fade(@rate50, @dmg-opacity) 8%);
  }

  .type-list {
    font-size: 0.7em;
    line-height: 1.2em;
    .type-label { width: 3.5em; }
  }

  .immune {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    background-color: fade(@rate0, 80%);
    border: 1px solid @rate0;
    margin-bottom: -1px;
  }
}
