<div loading="loading">
    <form>
        <label for="whichChart">Which Chart</label>
        <select class="form-control" id="whichChart" name="whichChart" ng-model="whichChart">
            <option value="matrix">Matrix</option>
            <option value="inline">Inline</option>
            <option value="squares">Squares</option>
        </select>
    </form>

    <br>

    <div ng-include="'types/matrix.html'" data-ng-if="whichChart==='matrix'"></div>
    <div ng-include="'types/inline.html'" data-ng-if="whichChart==='inline'"></div>
    <div ng-include="'types/squares.html'" data-ng-if="whichChart==='squares'"></div>
</div>
