<h1>Pokémon Type Calculator</h1>
<p>
    A type chart is hard to read and it doesn't <em>do</em> anything.
    Once you build a team of pokemon, this will help you figure out who to send into battle.
</p>

<h1>Preloading data</h1>
<p data-promise-status="dexPromise" data-text="Pokédex"></p>
<p data-promise-status="typeListPromise" data-text="Type List"></p>
<p data-promise-status="typeChartPromise" data-text="Type Chart"></p>
<p data-promise-status="teamPromise" data-text="Your Team"></p>
<p><i ng-repeat="m in team" class="pki {{m.iconClass}}" title="{{m.name}}"></i></p>


<h1>Data Sources</h1>
<p><a target="sources" href="http://pokemondb.net/type">http://pokemondb.net/type</a></p>
<p><a target="sources" href="http://pokemondb.net/pokedex/all">http://pokemondb.net/pokedex/all</a></p>
<p><a target="sources" href="https://img.pokemondb.net/sprites/x-y/montage-icon-1310b.png">https://img.pokemondb.net/sprites/x-y/montage-icon-1310b.png</a></p>
