<div ng-if="loading === true"><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</div>
<div ng-if="!loading" ng-transclude></div>
<div ng-if="loading === 'failed'">
    <br>
    <div class="jumbotron">
        <h1><i class="fa fa-ambulance fa-spin text-danger"></i> Oops</h1>
        <p>We couldn't load everything.</p>
        <p>Try <button class="btn btn-sm btn-default" ng-click="reload()"><i class="fa fa-lg fa-repeat"></i></button> refreshing the page.</p>
    </div>
</div>
<div ng-if="loading === 'bad path'" ng-include="'oops.html'"></div>
