<form>
    <label for="theme">Theme</label>
    <select class="form-control" id="theme" ng-model="html.theme"
            ng-options="t for t in themes" ng-change="saveTheme()"></select>

    <label for="preferredTypeChart">Which Chart</label>
    <select class="form-control" id="preferredTypeChart" name="preferredTypeChart"
            ng-model="preferredTypeChart" ng-change="save_preferredTypeChart()">
        <option value="matrix">Matrix</option>
        <option value="inline">Inline</option>
        <option value="squares">Squares</option>
    </select>

    <label for="dexGen">Pokédex Generation</label>
    <select class="form-control" id="dexGen" name="dexGen"
            ng-model="dexGen" ng-change="save_dexGen()">
        <option value="1">Gen I</option>
        <option value="2">Gen II</option>
        <option value="3">Gen III</option>
        <option value="4">Gen IV</option>
        <option value="5">Gen V</option>
        <option value="6">Gen VI</option>
    </select>

    <label for="colorfulCards">Which Chart</label>
    <select class="form-control" id="colorfulCards" name="colorfulCards"
            ng-model="colorfulCards" ng-change="save_colorfulCards()"
            ng-options="(item?'Colorful':'Simple Colors') for item in [false, true]">
    </select>
</form>

<br>

<button class="btn btn-danger" data-are-you-sure="clearLocalStorage()"><i class="fa fa-fw fa-trash"></i>Clear Local Storage</button>
